<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 보기</title>
</head>
<body>
<!-- 게시글 제목 -->
<h2 th:text="${article.title}"></h2>
<!-- 내용 -->
<p th:text="${article.content}"></p>
<br>
<div>
    <h3>편집하기</h3>
    <a th:href="@{/article/{id}/update-view(id=${article.id})}">수정하기</a>
    <form th:action="@{/article/{id}/delete(id=${article.id})}" method="post">
        <label>
            <p>삭제하기 : <input type="password" name="password" placeholder="비밀번호를 입력하세요."><input type="submit" value="삭제"></p>
            <!-- 수정 폼에서 에러 메시지를 표시하는 부분 -->
        </label>
        <div th:if="${param.articleError}">
            <p style="color: red;">비밀번호가 일치하지 않습니다.</p>
        </div>
    </form>
</div>
<hr>
<div>
    <h3>댓글 작성</h3>
    <form th:action="@{/article/{id}/comment(id=${article.id})}" method="post">
        <label>
            <p>사용자 PW 입력 : <input type="password" name="password" placeholder="비밀번호를 입력하세요."></p>
        </label>
        <label>
            <p>댓글 쓰기 : <input type="text" name="message" placeholder="댓글을 입력하세요."><input type="submit" value="추가"></p>
        </label>
    </form>
</div>
<br>
<hr>
<h3>댓글 목록</h3>
<div th:if="${comments}">
    <!-- 특정 게시물의 댓글들 -->
    <div th:each="comment : ${comments}">
        <div>
            <p th:text="${comment.message}"></p>
            <!-- 댓글 삭제 버튼 -->
            <form th:action="@{/article/{articleId}/comment/{commentId}/delete(articleId=${article.id}, commentId=${comment.id})}" method="post" style="display: inline;">
                <input type="password" name="password" placeholder="비밀번호를 입력하세요."><input type="submit" value="삭제">
            </form>
        </div>
    </div>
    <div th:if="${param.commentError}">
        <p style="color: red;">비밀번호가 일치하지 않습니다.</p>
    </div>
</div>
<br>
<a th:href="@{/boards/{id}(id=${board.id})}">뒤로 가기</a>
</body>
</html>

