<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정하기</title>
</head>
<body>
<h1>게시글 수정하기</h1>
<form th:action="@{/article/{id}/update-view(id=${article.id})}" method="post">
  <div>
    <label>
      제목: <input type="text" name="title" th:value="${article.title}">
    </label>
  </div>
  <div>
    <label>
      내용 : <input type="text" name="content" th:value="${article.content}">
    </label>
  </div>
  <div>
    <label>
      비밀번호 : <input type="text" name="password">
    </label>
  </div>
  <!-- 수정 폼에서 에러 메시지를 표시하는 부분 -->
  <div th:if="${param.error}">
    <p style="color: red;">비밀번호가 일치하지 않습니다.</p>
  </div>
  <input type="submit" value="저장">
</form>
</body>
</html>